* {
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
body {
	background-color: #d0d0d0;
	color: #7f7f77;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	max-width: 350px;
}
nav {
	align-items: center;
	background-color: #0339b3;
	color: #fff;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 20px 1fr 20px;
	justify-content: center;
	padding: 10px;
	text-align: center;
}
main {
	background-color: #0259e7;
	padding: 20px;
	text-align: center;
}
#avatarElem {
	border: 1px solid #fff;
	border-radius: 100%;
	height: 100px;
	margin: 0 auto;
	width: 100px;
}
#hideName {
	color: #fff;
	font-size: 24px;
	margin: 10px 0 0 0;
}
section {
	background-color: #fff;
}
section > .title {
	background-color: #f1f1f1;
	color: #7f7f77;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}
section > .body {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
#gcashForm .gcashForm--body {
	display: grid;
	grid-template-columns: 1fr 80px;
	grid-gap: 5px;
	margin: 10px 0 5px 0;
}
#gcashForm input {
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	padding: 8px 10px;
}
#gcashForm button {
	border: 1px solid #bbb;
	border-radius: 4px;
	outline: none;
}
#gcashForm input:focus {
	border-color: #aaa;
}
#gcashForm button:active {
	background-color: #dadada;
}
#errorElem {
	font-size: 12px;
	color: #d84747;
}
@media screen and (max-width: 414px) {
	#gcashForm {
		padding: 0 10px;
	}
}